body{
  background-color: blue;
}

img {
  width: 250px;
}

#piano_cat{
  width: 100px;
}

#trollface{
  width: 200px;
}

#internet_sensations{
  width: 200px;
}

<font size="3" color="red"> Hello </font>
